<%= form_for(@post_test) do |f| %>
  <% if @post_test.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_test.errors.count, "error") %> prohibited this post_test from being saved:</h2>

      <ul>
      <% @post_test.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user, :id => 'userTextField_ID' %>
  </div>
  <div class="field">
    <%= f.label :pass %><br>
    <%= f.text_field :pass %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Post"%>
  </div>
<% end %>
